.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
} 
.main-container {
  text-align: center;
  background-color: #1A1B21;
  width: 317px;
  height: 399px;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 550px;
  max-height: 868px;
  padding: 1%;
  background-color: #23252C;
  ;
}

.buttonLinkedin {
  color: #FFFFFF;
  font-size: 1rem;
  margin-left: 10px;
  gap: 8px;  
  width: 115px;
  height: 34px;
  left: 283px;
  top: 468px;
  background: #5093E2;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.buttonMail {
color: #374151;
margin-right: 10px;
gap: 8px;
width: 115px;
height: 34px;
left: 151px;
top: 468px;
/* white */
background: #FFFFFF;
/* gray/300 */
border: 1px solid #D1D5DB;
/* shadow/sm */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}
img {
width: 317px;
height: 317px;
left: 116px;
top: 44px;
border-radius: 10px 10px 0px 0px;

}
.status {
  font-size: 1rem;
  color: #5093E2;
  margin-top: 0;
  color: #F3BF99;
}

.name {
  margin-bottom: 0%;
  font-size: 2.5rem;
  color: #FFFFFF;
}

h3 {
  color: #F5F5F5;
  font-size: 0.7rem
}
.footer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: #161619;
  width: 317px;
  height: 64px;
  padding: 10px 0px 10px 0px;
}
.button-footer {
  margin: 3px;
  border-radius: 10px;
  background: #918e9ba2;
  font-size: 1.8rem;
  
}
